.image-with-text-container {
  width: 85%;
  margin: 12rem auto;
}
.product-detail-container {
  display: flex;
  align-items: center;
}

.flower-pot-container {
  width: 100%;
  position: relative;
}
.image-with-text-container h1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  line-height: 1.5;
}

.product-detail {
  margin: 2rem 0rem;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
  width: 80%;
}
.vector-detail-image {
  width: 35rem;
  height: 32rem;
}
.png-wing-plant {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 32rem;
  height: 49rem;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
  .product-detail-container {
    flex-direction: column;
    text-align: center;
  }
  .product-detail {
    width: 100%;
  }
  .flower-pot-container {
    margin-top: 4rem;
  }
  .png-wing-plant {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 24.667vw;
    height: auto;
    transform: translate(-50%, -50%);
  }
  .vector-detail-image {
    width: 46.167vw;
    height: 55.2vh;
  }
  .image-with-text-container {
    margin: 0rem auto;
  }
  .image-with-text-container h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .vector-detail-image {
    width: 80.167vw;
}
.png-wing-plant {
  width: 54.667vw;
  height: 62vw;
}
}
