:root {
  --black: #212121;
  --white: #ffffff;
  --grey: #747474;
  --blue: #5C6DDE;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

html {
  font-size: 16px;
}
